@use './abstracts/' as *;
@forward './base/';
@forward './layout/';
@forward './components/';

// Header full viewport height
.header {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  --gap: 0;

  /* just for mobile size,as it will be mixed with image later */
  background-color: hsl(var(--clr-bg), 0.8);

  position: relative;
  padding: var(--spacing-450);
  overflow-x: clip;

  @include respond-to(md) {
    background-color: hsl(var(--clr-bg));
    padding: var(--spacing-600);
  }

  @include respond-to(lg) {
    padding: var(--spacing-1000);
  }
}

.hero {
  width: 100%;
  max-width: px-to-rem(1120);

  @include respond-to(md) {
    justify-content: space-between;
  }

  /***** HERO CONTENT STYLING *****/

  &__content {
    --gap: var(--spacing-700);
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include respond-to(md) {
      --gap: var(--spacing-1300);
      align-items: flex-start;
    }

    @include respond-to(lg) {
      --gap: var(--spacing-1300);
    }
  }

  /*  In text wrapper there are 3 items; text, logo and form
  form and logo changes position on md size screens */
  &__text-wrapper {
    --gap: var(--spacing-500);
    flex-direction: column;


    @include respond-to(md) {
      width: px-to-rem(592);
      padding-top: var(--spacing-1100);
      padding-right: var(--spacing-800);
      background-color: hsl(var(--clr-bg));
      position: relative;
      z-index: 1;
    }

    @include respond-to(lg) {
      width: px-to-rem(736);
    }
  }

  &__text {
    text-align: center;

    @include respond-to(md) {
      text-align: left;
    }

    // Hero title
    h1 {
      @extend %text-preset-1;
      color: hsl(var(--clr-primary));
      margin-bottom: var(--spacing-200);

      span {
        color: var(--text-white);
      }

      @include respond-to(md) {
        margin-bottom: var(--spacing-300);
      }
    }

    // Hero description
    p {
      @extend %text-preset-2;
      color: hsl(var(--clr-secondary-tint));

      @include respond-to(md) {
        width: 40ch;
      }
    }
  }

  &__logos {
    --gap: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    @include respond-to(md) {
      order: 1;
      padding-top: var(--spacing-300);
    }

    & img:nth-child(1) {
      width: clamp(3.5rem, 1.1145rem + 10vw, 6rem);
    }

    & img:nth-child(2) {
      width: clamp(2.8125rem, 0.85rem + 8.4vw, 4.875rem);
    }

    & img:nth-child(3) {
      width: clamp(4.5615rem, 1.45rem + 13.2vw, 7.8125rem);
    }

    & img:nth-child(4) {
      width: clamp(4.75rem, 1.6rem + 13.5vw, 8.0625rem);
    }
  }


  /***** HERO IMAGE STYLING *****/
  &__image {
    // Image container, width and height set to 100% of header
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    @include respond-to(md) {
      position: relative;
      /* Image container returns to its original position */
      z-index: 0;
      width: 416px;
      height: 100%;
      margin-left: -275px;
      /* Push image to left side */
    }

    @include respond-to(lg) {
      width: 736px;
      margin-left: -400px;
      /* Push image to left side */
    }

    // Dot background
    &-dot {
      display: none;
      /* hidden for mobile */

      @include respond-to(md) {
        /* shown on tablet and desktop */
        display: block;
        position: absolute;
        top: px-to-rem(608);
        left: px-to-rem(356);
        z-index: 1;
      }

      @include respond-to(lg) {
        /* shown on tablet and desktop */
        top: px-to-rem(602);
        left: px-to-rem(660);

      }

    }

    &-file {
      /* Image itself, with and height 100% of container */
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;


      /* picture element as a position will follow image container,
       defined in boilerplate.scss */

      @include respond-to(md) {
        /* positioning for tablet screen sizes */
        width: 460px;
        height: 868px;
        position: absolute;
        bottom: -662px;
        left: 0;
      }

      @include respond-to(lg) {
        /* positioning for desktop screen sizes */
        width: 960px;
        height: 652px;
        position: static;
      }
    }


  }
}