@use '../abstracts/' as *;

 /****** HERO FORM ******/
.hero{
  &__form {
    max-width: 28rem;
    width: 100%;
    margin-inline: auto;

    @include respond-to(md) {
      margin-inline: 0;
    }
  }

  &__form-group {
    flex-direction: column;
    --gap: var(--spacing-100);

    @include respond-to(md) {
      margin-bottom: 0;
      display: flex;
      flex-direction: row;
      --gap: 0;
      padding: var(--spacing-50);
      background-color: hsl(var(--clr-secondary), 0.8);
      border-radius: 28px;

      // if the screen is md size or larger, outline class is applied to form group
      &.outline {
        border: 2px solid hsl(var(--clr-warning));
      }
    }
  }

  &__input,
  &__button {
    @extend %text-preset-3;
    padding: var(--spacing-100) var(--spacing-400);
    border: none;
    border-radius: var(--spacing-500);

    @include respond-to(md) {
      width: max-content
    }
  }

  &__input {
    background-color: hsl(var(--clr-secondary-shade), 0.2);
    color: var(--text-white);

    &::placeholder {
      color: inherit;
      opacity: 0.7;
    }

    @include respond-to(md) {
      background-color: transparent;
      margin: 0;
      flex-grow: 1;
    }

    &:focus {
      outline: none;
    }

    &.outline {
      border: 2px solid hsl(var(--clr-warning));
    }
  }

  &__button {
    background-color: hsl(var(--clr-primary));

    &:hover {
      background-color: var(--btn-hover);
      cursor: pointer;
    }

  }

  &__error {
    @extend %text-preset-3;
    font-size: 12px;
    color: hsl(var(--clr-warning));
    text-align: center;
  }
}