@use './mixin_func' as *;

$spacing: (
  50:px-to-rem(4),
  100:px-to-rem(8),
  200:px-to-rem(16),
  300:px-to-rem(24),
  400:px-to-rem(32),
  500:px-to-rem(40),
  600:px-to-rem(44),
  700:px-to-rem(56),
  800:px-to-rem(64),
  1000:px-to-rem(80),
  1100:px-to-rem(88),
  1300:px-to-rem(104)
);

:root {
  @each $index, $value in $spacing {
    --spacing-#{$index}:#{$value};
  }
}